body{
    width: auto;
    height: auto;
    text-align: center;

}

body a{
    text-align: center;
}

.navbar {
    background-color: #9d592f;
}
  

header{
    background-image:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../assets/images/fotomate-1000x600.jpg");
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    width: auto;
    height: auto;
}

header a {
    color:black;
    text-decoration: none;
    }


main{
    background-image:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../assets/images/fotomate-1000x600.jpg");
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-blend-mode: darken;
}



.animate__animated.animate__slideInLeft {
    --animate-slow: 10s;
    --animation-delay: 2s;
}
  
:root {
    --animate-duration: 800ms;
    --animate-delay: 2s;
}

footer{
    width: auto;
    height: auto;
    background-color: #9d592f;
    color: white;
}
