header{
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/images/fotomate-1000x600.jpg");
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    a {
        color:black;
        text-decoration: none;
        }
        .navbar {
            background-color: #9d592f;
        }
} 